{% extends 'accounts/base.html' %}

    {% block title %}

            Make an appointment

    {% endblock %}



    {% block content %}

        <figure class="text-center">
            <blockquote class="blockquote">
                <h3>You can make an appointment here, {{ user.first_name|title }}</h3>
            </blockquote>
        </figure>

        <form action="{% url 'appointment_url' %}" method="post">

            {% csrf_token %}

            {% for field in form %}

                {% if field.errors %}

                    <div class="alert alert-danger">

                        {{ field.errors}}

                    </div>

                {% endif %}

                <div class="form-group">

                    {{ field.label}}
                    {{ field }}

                </div>

            {% endfor %}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    {% endblock %}




