{% extends 'accounts/base.html' %}

{% block title %}
    History
{% endblock %}

{% block content %}

        {% if appointments %}
                <figure class="text-center">
                  <blockquote class="blockquote">
                    <h3>History of your appointments</h3>
                  </blockquote>
                </figure>

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Specialist</th>
                      <th scope="col">Date and time</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i in appointments %}
                    <tr>
                      <td>{{ i.specialist }}</td>
                      <td>{{ i.date_appointment }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

        {% else %}

            <h3>You did not have any history</h3>

        {% endif %}

{% endblock %}

