<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A0D3FF;">
      <a class="navbar-brand" href="{% url 'home_url' %}">Estem</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav justify-content-center">

          {% if request.user.is_authenticated %}

              <li class="nav-item active">
                <a class="nav-link" href="{% url 'profile_url' %}">Profile<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'appointment_url' %}">Make an appointment<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'history_url' %}">History<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout_url' %}">Log Out<span class="sr-only">(current)</span></a>
              </li>

          {% else %}

              <li class="nav-item active">
                <a class="nav-link" href="{% url 'login_url' %}">Log In<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'register_url' %}">Register<span class="sr-only">(current)</span></a>
              </li>

          {% endif %}

        </ul>
      </div>
  </nav>